<div class="patients-component patient-page">
  <app-sidebar></app-sidebar>
  <div class="patient-page">
    <div class="title-btn">
      <h1>Pacientes</h1>
      <button>
        <img src="./assets/plus.png" width="14" height="14" />
        <span>Cadastrar Pacientes</span>
      </button>
    </div>
    <div class="input-menu">
      <div class="search-input">
        <input placeholder="Pesquisar" />
        <img src="./assets/search.png" />
      </div>
      <app-menu-dropdown />
    </div>

    <app-patient-table></app-patient-table>
  </div>
</div>
