<div class="sidebar">
  <div class="image-container">
    <img src="./assets/logo.png" width="138" height="32" />
  </div>
  <div class="user-container">
    <div class="avatar-name-container">
      <img src="./assets/avatar.png" width="28" height="28" />
      <span>Nome Sobrenome</span>
    </div>
    <input placeholder="Ymunity" />
  </div>

  <div class="routes spacing-home">
    <img src="./assets/home.png" width="24" height="24" />
    <span>Home</span>
  </div>
  <div class="selected-route">
    <img src="./assets/users.png" width="24" height="24" />
    <span>Pacientes</span>
  </div>
  <div class="routes">
    <img src="./assets/calendar-plus.png" width="24" height="24" />
    <span>Solicitações</span>
  </div>
  <div class="routes">
    <img src="./assets/briefcase.png" width="24" height="24" />
    <span>Atendimentos</span>
  </div>
  <div class="routes">
    <img src="./assets/chart-line.png" width="24" height="24" />
    <span>Dashboards</span>
  </div>
  <div class="routes spacing-sign-out">
    <img src="./assets/sign-out.png" width="24" height="24" />
    <span>Sair</span>
  </div>
</div>
