<div class="header-table">
  <div class="patient header" (click)="changeSortCriteria('name')">
    <span>Paciente</span>
    <img src="./assets/sort.png" />
  </div>
  <div class="status header" (click)="changeSortCriteria('status')">
    <span>Status</span>
    <img src="./assets/sort.png" />
  </div>
  <div class="diagnosis header" (click)="changeSortCriteria('diagnosis')">
    <span>Diagnóstico</span>
    <img src="./assets/sort.png" />
  </div>
  <div class="medicine header" (click)="changeSortCriteria('medicine')">
    <span>Medicamento</span>
    <img src="./assets/sort.png" />
  </div>
  <div
    class="health-insurance header"
    (click)="changeSortCriteria('health-insurance')"
  >
    <span>Plano de Saúde</span>
    <img src="./assets/sort.png" />
  </div>
  <div class="last-request header" (click)="changeSortCriteria('last-request')">
    <span>Última Solicitação</span>
    <img src="./assets/sort.png" />
  </div>
  <div class="empty"></div>
</div>

<div *ngFor="let patient of patients" class="table-line">
  <div class="patient patient-line table-line-content">
    <span class="truncated-name">{{ patient.name }}</span>
  </div>
  <div class="status table-line-content">
    <div class="status-line">
      <span>{{ patient.status }}</span>
    </div>
  </div>
  <div class="diagnosis diagnosis-line table-line-content">
    <span>{{ patient.diagnosis }}</span>
  </div>
  <div class="medicine medicine-line table-line-content">
    <span>{{ patient.medicine }}</span>
  </div>
  <div class="health-insurance health-insurance-line table-line-content">
    <span>{{ patient.healthInsurance }}</span>
  </div>
  <div class="last-request last-request-line table-line-content">
    <span>{{ patient.lastRequest }}</span>
  </div>
  <div class="empty table-line-content">
    <img src="./assets/prescription.png" width="24" height="24" />
    <img src="./assets/ellipsis-h.png" width="24" height="24" />
  </div>
</div>

<div class="paginator">
  <div class="text-paginator">Mostrando 1 a 10 de 200 pacientes</div>
  <div class="img-paginator">
    <img src="./assets/angle-double-left.png" width="14" height="14" />
  </div>
  <div class="img-paginator">
    <img src="./assets/angle-left.png" width="14" height="14" />
  </div>

  <div class="page current">1</div>
  <div class="page">2</div>
  <div class="page">3</div>
  <div class="page">4</div>
  <div class="page">5</div>

  <div class="img-paginator">
    <img src="./assets/angle-double-right.png" width="14" height="14" />
  </div>
  <div class="img-paginator">
    <img src="./assets/angle-right.png" width="14" height="14" />
  </div>

  <div class="patients-per-page">
    <span>10</span>
    <img src="./assets/chevron-down.png" width="14" height="14" />
  </div>
</div>
