.menu {
  display: relative;
}

.menu-btn {
  width: 166px;
  height: 38px;
  border: none;
  border: solid 1px #dadee3;
  border-radius: 4px;
  background-color: #fff;
  color: #64748b;
  font-size: 14px;
  font-weight: 400;
  padding: 10.5px;
  gap: 10.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-opts {
  display: absolute;
  top: 0;
}
